{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- mensajes -->
    {% if messages %}
    <div id="notification-container" class="fixed top-0 right-0 m-3 z-50">
    {% for message in messages %}
            {% if message.tags == 'error' %}
            <div id="alert-border-error" class="alert alert-danger alert-dismissible fade show" role="alert">
                <div class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="28" height="28">
                        <path d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zM11 14h2v2h-2v-2zm0-8h2v6h-2V6z"></path>
                    </svg>
                    <div class="ms-3">
                        <span>{{ message }}</span> <br>
                    </div>
                    <div class="ms-3">
                    <ul> 
                        {% if form.errors %}
                        {% for field, errors in form.errors.items %}
                            
                                {% for error in errors %}
                                    <li>{{ field }}: {{ error }}</li>
                                {% endfor %}
                            
                        {% endfor %}
                        {% endif %}
                        </ul>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}
    <!-- fin de mensajes -->

    <form method="post" enctype="multipart/form-data" class="py-4">
    {% csrf_token %}  
    <div class="card shadow p-4">
    <h2 class="text-center text-primary mb-4">{{ title1 }}</h2>
    <div class="row g-0">
        <div class="col-lg-8 px-2">
            
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="{{ form.nombre.id_for_label }}" class="form-label fw-bold">{{ form.nombre.label }}</label>
                    {{ form.nombre }}
                    {{ form.nombre.errors }}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.descripcion.id_for_label }}" class="form-label fw-bold">{{ form.descripcion.label }}</label>
                    {{ form.descripcion }}
                    {{ form.descripcion.errors }}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.activo.id_for_label }}" class="form-label fw-bold">{{ form.activo.label }}</label>
                    {{ form.activo }}
                </div>
            </div>
                <div class="d-flex justify-content-end mt-4">
                <button class="btn btn-outline-success me-2" type="submit">Grabar Especialidad</button>
                <a class="btn btn-outline-warning" href="{% url 'core:especialidad_list'%}">Cancelar</a>
            </div>
        </div>
    </div>
    </div>
    </form>
    </div>
    </div>
{% endblock content %}
